/* Тут нормально делаю CSS */

.main_productcard_container {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    max-width: 1377px;
    margin: auto;
}

.change_button {
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end;
    width: 100%;
}

.product_container {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.product_container_reverse {
    background-color: #ffffff;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.product {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex: 1, 1, 1;
}

.product_reverse {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    width: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product > * {
    margin: 5px;
}

.product_reverse > * {
    margin: 5px;
}

.product:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.product_reverse:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.image {
    height: 200px;
    width: 250px;
    overflow: hidden;
}

.image_reverse {
    overflow: hidden;
    order: 1;
    grid-row: span 2;
}

.price {
    font-family: YS Text,Arial,Helvetica,sans-serif;;
    font-weight: bold;
    font-size: 20px;
}

.price_reverse {
    font-family: YS Text,Arial,Helvetica,sans-serif;;
    font-weight: bold;
    font-size: 20px;
    align-self: end;
    order: 3;
}

.price:hover {
    color: #007197f8;
}

.price_reverse:hover {
    color: #007197f8;
}

.name_of_product {
    max-width: fit-content;
    font-family: YS Text,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.name_of_product_reverse {
    max-width: fit-content;
    font-family: YS Text,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 18px;
    order: 2;
}

.product_description {
    font-family: YS Text,Arial,Helvetica,sans-serif;
}

.product_description_reverse {
    font-family: YS Text,Arial,Helvetica,sans-serif;
    font-size: 16px;
    order: 4;
}

.purchase_button {
    cursor: pointer;
    align-self: center;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    background-color: deepskyblue;
    color: #ffffff;
    border-color: #ffffffc0;
}

.purchase_button_reverse {
    cursor: pointer;
    align-self: flex-start;
    border-radius: 8px;
    width: 80%;
    height: 40px;
    font-weight: bold;
    background-color: deepskyblue;
    color: #ffffff;
    border-color: #ffffffc0;
    order: 6;
}

.purchase_button:hover {
    background-color: #00bfff67
}

.purchase_button_reverse:hover {
    background-color: #00bfff67
}